Voice & Text (AI Agent ) Business Owner.json
{
  "name": "Voice & Text (AI Agent) Business Owner",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"]
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [-352, 544],
      "name": "Telegram Trigger"
    },
    {
      "parameters": {
        "content": "## Input (Voice / Text)",
        "height": 528,
        "width": 736,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-384, 320],
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 500
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [560, 272],
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": "REPLACE_WITH_SHEET_ID",
        "sheetName": "Sheet1"
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [624, 400],
      "name": "Employee DataBase"
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI('To') }}",
        "subject": "={{ $fromAI('Subject') }}",
        "emailType": "text",
        "message": "={{ $fromAI('Message') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [736, 336],
      "name": "Employee Notification"
    },
    {
      "parameters": {
        "calendar": "REPLACE_WITH_CALENDAR_ID",
        "start": "={{ $fromAI('Start') }}",
        "end": "={{ $fromAI('End') }}",
        "additionalFields": {
          "summary": "={{ $fromAI('Summary') }}",
          "description": "={{ $fromAI('Description') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [864, 400],
      "name": "Create Calendar Event"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.message.text }}",
              "operator": { "type": "string", "operation": "exists" }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-176, 400],
      "name": "If Text"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [16, 512],
      "name": "Get Voice File"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "English"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [176, 688],
      "name": "Transcribe Audio"
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini"
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [464, 336],
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a Meeting Scheduler AI Agent running inside n8n."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [592, 128],
      "name": "GPT Agent"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.output }}",
              "operator": { "type": "string", "operation": "exists" }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [656, 688],
      "name": "If Output Is Text"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "={{ $json.output }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1120, 352],
      "name": "Send Text Message"
    },
    {
      "parameters": {
        "resource": "audio",
        "model": "tts-1-hd",
        "options": {
          "response_format": "opus"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [1056, 656],
      "name": "Generate Audio"
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1264, 656],
      "name": "Send Audio"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "If Text", "type": "main", "index": 0 }]]
    },
    "If Text": {
      "main": [
        [{ "node": "GPT Agent", "type": "main", "index": 0 }],
        [{ "node": "Get Voice File", "type": "main", "index": 0 }]
      ]
    },
    "Get Voice File": {
      "main": [[{ "node": "Transcribe Audio", "type": "main", "index": 0 }]]
    },
    "Transcribe Audio": {
      "main": [[{ "node": "GPT Agent", "type": "main", "index": 0 }]]
    },
    "GPT Agent": {
      "main": [[{ "node": "If Output Is Text", "type": "main", "index": 0 }]]
    },
    "If Output Is Text": {
      "main": [
        [{ "node": "Send Text Message", "type": "main", "index": 0 }],
        [{ "node": "Generate Audio", "type": "main", "index": 0 }]
      ]
    },
    "Generate Audio": {
      "main": [[{ "node": "Send Audio", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "GPT Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Simple Memory": {
      "ai_memory": [[{ "node": "GPT Agent", "type": "ai_memory", "index": 0 }]]
    },
    "Employee DataBase": {
      "ai_tool": [[{ "node": "GPT Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Employee Notification": {
      "ai_tool": [[{ "node": "GPT Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Create Calendar Event": {
      "ai_tool": [[{ "node": "GPT Agent", "type": "ai_tool", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
